<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168960255426-395114f39d5262bb9282loqf3qhm2708.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168960255426-395114f39d5262bb9282loqf3qhm2708</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>168960255426-ccrs4jsa8bkdnkcptgf0d4r6cddpddrq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFL66ChuKz14Qfj5PcARqHV1f-ELWOoc8</string>
	<key>GCM_SENDER_ID</key>
	<string>168960255426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afkaar</string>
	<key>PROJECT_ID</key>
	<string>afkar-58349</string>
	<key>STORAGE_BUCKET</key>
	<string>afkar-58349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168960255426:ios:30590e85f5f3b7cac5225b</string>
	<key>DATABASE_URL</key>
	<string>https://afkar-58349.firebaseio.com</string>
</dict>
</plist>